In [234]:
import pandas as pd
import numpy as np

In [235]:
data = pd.read_excel("../Materials/input_node.xlsx")

In [236]:
cs = data[(data.ID >= 1) & (data.ID <= 1000)]

In [237]:
# convert 00:00:00 to minutes away from 8:00 AM.
for i in range(1,1001):
    cs.at[i,"first_receive_tm"] = (cs.loc[i,"first_receive_tm"].hour-8)*60 + cs.loc[i,"first_receive_tm"].minute
    cs.at[i,"last_receive_tm"] = (cs.loc[i,"last_receive_tm"].hour-8)*60 + cs.loc[i,"last_receive_tm"].minute

In [238]:
cs.head()

,ID,type,lng,lat,pack_total_weight,pack_total_volume,first_receive_tm,last_receive_tm
1,1,2,116.242043,40.072630,0.2076,0.3666,60,240
2,2,2,116.403595,39.872945,0.05863,0.1687,330,360
3,3,2,116.186289,40.016361,0.03645,0.0745,300,420
4,4,2,116.508011,39.826296,0.02595,0.0542,60,120
5,5,2,116.130997,39.825921,0.0198,0.1117,180,330

In [239]:
cs.tail()

,ID,type,lng,lat,pack_total_weight,pack_total_volume,first_receive_tm,last_receive_tm
996,996,2,116.496265,39.953829,0.31102,0.9203,60,120
997,997,2,116.379935,39.931517,0.0566,0.3791,90,240
998,998,2,116.288705,39.700441,0.08877,0.1336,120,180
999,999,2,116.325110,39.869964,0.0612,0.09,60,120
1000,1000,2,116.162844,39.837273,0.075,0.25,300,390

In [240]:
cs.to_csv(r'C:\Users\zlyu\Documents\GitHub\IE-526-Final-Project\Lyu\Materials\customer_info.csv')